body{
	font-family: 'Merriweather', serif;
	font-size: medium;
}

.container-fluid{
	margin-top: 120px;
	background-color: aliceblue;
	height: 100%;
	color: black;
	

}

aside {
	width: 30%;
	padding-left: 15px;
	margin-left: 15px;
	float: right;
	font-style: italic;
	background-color:  #0F0c29;
	color: #b4b4ce;
      }
.edu{
	display: block;

}

h3{
	color: #4831d4;
	
	
}

h5{
	color: #4831d4;
	/* text-decoration: underline; */
	font-style: italic;
}