<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >

      <!-- -->
		<title> {{ title }} PG Profile </title>

      <!-- -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Six+Caps&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
	
      
         <!--animation on scrolling-->
         <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
         <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

         <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
         <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
         
         
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">
          <!--Fonts-->
          <link rel="preconnect" href="https://fonts.googleapis.com"> 
         <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
         <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap" rel="stylesheet">

		<!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"-->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
		<link href='https://css.gg/terminal.css' rel='stylesheet'>
		
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	


		<!--styling-->
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='terminal.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='list-tree.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='read.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='cloud.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='extension-add.css')}}">	
		<link rel="stylesheet" href="js/index.js">


		<!--Jquery-->
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
      <script   src="https://code.jquery.com/jquery-3.6.1.js"   integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="   crossorigin="anonymous"></script>





		<!--vanilla jquery-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vquery/5.0.1/v.min.js"></script>

      <!-- bootstrap -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<!--card-->

      <link rel="preconnect" href="https://fonts.googleapis.com"> 
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
      <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Bebas+Neue&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>


   
      <body>
         <div id="home">
            <div id="navbar">
               <a href="{{url_for ('index')}}" id="logo">Pauline G.</a>
               <button type="button" class="menu-toggle x" data-bs-toggle="collapse" data-bs-target="#navbar-right"></button>
               <div id="navbar-right" style="height: 50%;" class="collapse" >
                 
                  <ul>
                     <li><a class="active" href="{{url_for ('index')}}">Home</a></li>
                     <li><a href="#projects">Skills</a></li>
                     <li><a href="#contact">Contact</a></li>
                     <li><a href="#about">About</a></li>
               
                  </ul>

                  <!-- <span>&times;</span> -->

               <script>

                  // function openNav() {
                  // document.getElementById("navbar-right").style.width = "250px";
                  // }

                  // function closeNav() {
                  // document.getElementById("navbar-right").style.width = "0";
                  // }

                  // var prevScrollpos = window.pageYOffset;
                  // window.onscroll = function() {
                  // var currentScrollPos = window.pageYOffset;
                  // if (prevScrollpos > currentScrollPos) {
                  //    document.getElementById("navbar-right").style.top = "0";
                  // } else {
                  //    document.getElementById("navbar-right").style.top = "-50px";
                  // }
                  // prevScrollpos = currentScrollPos;
                  // }



         const button = document.querySelector(".menu-toggle");
         button.addEventListener( "click", () => button.classList.toggle("toggled") );

	
	

		
         // When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
         window.onscroll = function() {scrollFunction()};
         
         function scrollFunction() {
         if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 70) {
             
            document.getElementById("logo").style.fontSize = "25px";



	    
         } 

	else {
            
            document.getElementById("logo").style.fontSize = "35px";
         }
         } 
            </script>
               
            </div>
	 </div>


	 <!-- Base.html is extended into all other pages with their page data loaded into the block content below. -->
	{% block content %}{%endblock%}
	<!-- Footer element on all pages. -->

	 <!--Footer-->
    
	 <section id="about" class=" container-footer layout footer" aria-hidden="true" data-section="footer">
		<footer>
		   <div class="inner-content">
		      <div class="footer-main">
			 <div class="item-1">
			    <figure><span id="avi"><img src="{{ url_for('static', filename='images/avi.PNG')}}" alt="my pic" width="230" height="300"></span></figure>
			 </div>
			 <div class="item-2">
			       <article class="bottom cavalier" data-theme="lime"><div class="cavalier-content"><h1 aria-label="Frontend Developer"><span id="hello" aria-hidden="true">Junior<br> Data Scientist<span>.</span></span></h1>
				<p> Furnished with a background in Actuarial Science from Nairobi, bringing to the table a hybrid analytic acumen. I enjoy sifting through information to get valuable insights into the target market.</p></div>
				<ul aria-label="Highlights." class="highlights visuallyhidden">
					<li id="listing">Highly skilled at statistical programming &amp; development.</li>
					<br>
					<li> Manipulating data to effectively mitigate and manage contigencies. </li>
				</ul>
			       </article>   
			 </div>
	  
			 <div class="item-3">
	  
			    <ul>
			       <li><a  href="{{ url_for ('projects')}}">My Skills</a></li>
			       <li><a  href="{{ url_for ('resume')}}">My Resume</a></li> 
			    </ul>
			 </div>
		      </div>
	  
		   <div class="footer-bottom">
		      <div style="color:#ccf381; margin-top: 2.8%;" class="copyright">© Pauline Gatei  2023</div>
		      
		      <div>
			 <ul class="social-contact bottom-icon">
			    <li><a href="https://github.com/PaulineG9"><i class="fa fa-github" style="font-size:32px;color:#ccf381;"></i></a></li>
			    <li><a href="https://www.linkedin.com/in/pauline-gatei-b337a1b4/"><i class="fa fa-linkedin-square" style="font-size:32px;color:#ccf381"></i></a></li>
			    <li><a href="https://twitter.com/home"><i class="fa fa-twitter" style="font-size:32px;color:#ccf381"></i></a></li>
			 </ul>
		      </div>
	  
		      </div>
		   </div>
		
	  
		</footer>
		</section>
		   
		 
		</body>
	  </html>