

<link rel="stylesheet" href="{{ url_for('static', filename='resume.css')}}">

<body style="background-color:#fff;">
	<div class="container" >
		<!-- <iframe src="{{ url_for('static', filename='uploads/ResumeWeb.pdf')}}" width="1200px" height="80%"></iframe> -->
      <div class="aside">
         <aside>
        <h3 class="topics">CORE COMPETENCES</h3>
        <p style="color: #ccf831;">Technical skills:</p>
        <p><span style="text-decoration:underline;">Programming and coding</span> -&nbsp;Python, R, HTML, SQL, Full- Stack development, Git &amp; GitHub,Cybersecurity, JavaScript.
        <p><span style="text-decoration:underline;">Frameworks and Methodologies</span> -&nbsp;Agile development, Flask python, Django, Scrum.</p>

     
        <p><span style="text-decoration:underline;">Data Management</span>  -&nbsp;Machine Learning, Data Warehousing/ETL processing, Data Visualisation, Data manipulation with SQL and Python, Data analysing and Processing with R &amp; Python.</p>
        <p><span style="color: #ccf831;">Problem solving and attention to details</span> &ndash;&nbsp;Time-oriented projects, such as health hackathons,developing software programs & designing a data warehouse at University, tested the ability to learn quickly and find the most optimum solution under pressure.</p>
        <p> <span style="color: #ccf831;">Project management</span> &ndash;&nbsp; Collaborating in teams was inevitable, this called for soft skills such as strong communication skills and high emotional intelligence to effectively coordinate with others to build solutions, give and get feedback.</p>
        <p> <span style="color: #ccf831;">Languages</span> -&nbsp;Fluent in English &amp; Swahili, Intermediate proficiency in French.&nbsp;</p>
        </aside>
         <aside>
        <h3>VOLUNTEERING &amp; AWARDS</h3>
	<p style="color: #ccf831;">&bull;&nbsp;GovHack</p>
        <p>Engaging in a team of 5 in a nationwide hackathon competition to develop a solution to empower Australians with information and optimise services in public health, specifically emergency departments. The team managed to come up with a software product, successively receiving an honourable mention (2nd Runner&rsquo;s up position).</p>

        <p style="color: #ccf831;">&bull;&nbsp;WA Data Science Health Hackathon 2021&amp; 2022</p>
        <p>A networking and upskilling opportunity to tackle real world healthcare challenges in WA using innovative digital and data driven solution under mentorship from AWS and WA Data Science Innovation hub experts.</p>
        <p style="color: #ccf831;">&bull;&nbsp;UWA Unistart Orientation team volunteer 2020</p>
        <p>As a social sustainability enthusiast, joining a team of UWA volunteers to assist new students seemed befitting, and in turn, sequentially improving overall leadership and interpersonal skills.</p>
        
        </aside>
        
        
         </div>
         <div class="content">
			    <div >
				<h3 > </h3>
				<p>Enthusiastic and highly skilled junior data scientist come developer, with a background in actuarial science, furnished with diverse and promising skill sets in programming and statistical analysis to execute cutting-edge and data-driven solutions. Always curious and I love a challenge which motivates me and takes me to the next level.</p>

				
			    </div>
			<!-- </div><img src="blob:https://wordtohtml.net/19142b2d-701d-49e2-838c-6a93c1e19efa" alt="page1image25092640" width="473.950015" height="0.500079"><img src="blob:https://wordtohtml.net/0c7f35e8-4382-45fa-9819-06ce7c7601b3" alt="page1image25093056" width="473.950015" height="0.500079"> -->
			<div>
			  
				<h3 >EDUCATION AND TRAINING</h3>
				<div class="edu">
				<p>University of Western Australia</p>
				<p>Bachelor of Data Science.</p>
				<p>Jomo Kenyatta University of Agriculture &amp; Technology</p>
				<p>Bachelor of Actuarial Science.</p>
				<p>Certification in Cybersecurity</p>
				<p>Data & AI training</p>
				
				</div>
			</div>
         
				<div>
					
				<h3>RELEVANT EXPERIENCE</h3>
				<!-- <h5>February 2019 &ndash; February 2022 September 2012 - December 2016</h5> -->
			    
			<!-- </div><img src="blob:https://wordtohtml.net/c414f8ae-493f-4ee5-8989-cb7bcda906b3" alt="page1image25093472" width="473.950015" height="0.500079"> -->
		
			<div>
				<!--p>To create a source of livelihood and endorse my studies over 3 years, I have been working as a support worker/lifestyle assistant with Bethanie, developing a sense of resilience and independence.</p-->

			</div>
			<div>
				<h4>Committee Member/Web developer assistant &ndash; Unite WA Inc. February 2021 &ndash; January 2022</h4>
				<p>Unite WA is an NGO start up where I was part of the management committee, we worked towards social cohesion while promoting personal and community development through volunteering and advocacy.</p>
			
			    
			
		    
		    	
			
				<ul>
					<li>
						<p>Established and streamlined Unite WA&rsquo;s brand.</p>
					</li>
				    <li>
					<p>Proposed and organised activities &amp; services to further the organisation&rsquo;s mission and goals.</p>
				    </li>
				    <li>
					<p>Exhausting the web development life cycle from gathering user requirements to developing code.</p>
				    </li>
				    <li>
					<p>Collaborated in designing a responsive user interface using HTML, CSS &amp; JavaScript.</p>
				    </li>
				    <li>
					<p>Volunteered in conducting and overseeing social activities and events.</p>
				</li>
			</ul>
			</div>
			<div>
					<h4>Volunteer Trainer/Technical Support &ndash; TechCare Training January 2021 &ndash; March 2021</h4>

						<p>TechCare carries out training programmes empowering individuals from Culturally and Linguistically Diverse (CaLD) community through basic training.</p>
					  
				
				<ul>
					
				    <li>
					<p>Improved TechCare Training&rsquo;s digital presence through website updates and managing social media content.</p>
				    </li>
				    <li>
					<p>Proposed curriculum goals and course content over the 8 weeks period.</p>
				    </li>
				    <li>
					<p>Partnered in grant application and submission on time.</p>
				    </li>
				    <li>
					<p>Conducted assessments and feedback from students and trainers.</p>
				    </li>
				    <li>
					<p>Promoted social sustainability in the city of Stirling by equipping seniors with up-to date &amp;basic computer skills.</p>
				    </li>
				    <li>
					<p>Offered fundamental IT support such as installing &amp; updating software and setting up relevant accounts.</p>	
				    </li>
				</ul>
			    </div>
            </div>
            <h3>REFEREES</h3>
            <p>Provided upon request.</p>
         </div>
         </div>
			    
			
		    
		
	

	
</body>

